header {
    height: 100%;
    padding: 16px 80px;
 }

.header-container {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 50px;  
 }

 .header-navigation {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header-navigation a {
    margin: 0 10px;
    text-decoration: none;
    color:#4B5563;
    font-family: Inter, sans-serif;
 }

 .header-navigation-button {
    display: flex;
    justify-content: space-between;
    align-items: center; 
 }

 .header-icon {
    margin-left: 20px;
 }
 
 .button-download {
    color: #F9FAFB;
    border: none;
    padding: 6px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    width: 136px;
    height: 36px;
    padding: 6px 16px;
    margin-left: 20px;
    gap: 8px;
    background-color: #111827;
 }
 
 .hero{
    margin: 20px;
   padding: 16px 80px;
}

.hero-container {
    padding: 0px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .hero-column1 {
    flex-grow: 1;
 }
 
 .hero-column2 {
    flex-grow: 2;
 }

 .hero-content {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.hero-title {
    font-family: Inter sans-serif;
    font-size: 60px;
}
    
.hero-text {
    font-family: Inter sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#4B5563;
}

.hero-location , .hero-info {
       display: flex;
       align-items: center;
}

.hero-info {
       display: flex;
       align-items: center;
}
    
.hero-logo {
       display: flex;
}

.hero-image {
    width: 270px;
    height: 320px;
    display: flex; 
    box-shadow: 30px 20px 0px #E5E7EB;
}
.about-title {
   display: flex;
   justify-content: center;
   align-items: center;
}

.about-title-parametr {
   padding: 4px 20px;
   border-radius: 12px;
   background-color: #E5E7EB;
   font-family: Inter,sans-serif;
   font-size: 14px;
   text-align: center;
   color:#4B5563;
}

.about-container {
   padding: 0px 32px;
   margin: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 0px;
}

.about-image {
   flex-grow: 1;
}

.about-text {
   flex-grow: 1;
   font-family: Inter sans-serif;
   margin-left: 100px;
   color:#4B5563;
}

.about-image {
   width: 270px;
   height: 320px;
   display: flex;
   box-shadow: -30px -20px 0px #E5E7EB;
}

.skills-title {
   display: flex;
   justify-content: center;
   align-items: center;
}

.skills-title-parametr {
   padding: 4px 20px;
   border-radius: 12px;
   background-color: #E5E7EB;
   font-family: Inter,sans-serif;
   font-size: 14px;
   text-align: center;
   color:#4B5563;
}

.skills-title-text {
   text-align: center;
}

.skills-box-row1 {
   display: flex;
   margin: 40px auto;
   flex-direction: row;   
   justify-content: center;
   align-items: center;
   gap: 50px;
   flex-wrap: wrap;
}
.skills-box-row1 p {
   text-align: center;
   font-family: Inter sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 28px;
}

.skills-box-row2 {
   display: flex;
   margin: 40px auto;
   flex-direction: row;  
   justify-content: center;
   align-items: center;
   gap: 50px;
    flex-wrap: wrap;
}

.skills-box-row2 p {
   text-align: center;
   font-family: Inter sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 28px;
}

.experience {
   padding: 96px 80px;
}

.experience-container {
   padding:0 32px;
   display:flex;
   justify-content: center;
   align-items: center;  
   flex-direction: column;
}

.experience-header {
   flex-grow: 1;
   gap:16px;
   margin-top: 20px;
}

.experience-title {
   display: flex;
   justify-content: center;
   align-items: center;
}

.experience-title-parametr {
   padding: 4px 20px;
   border-radius: 12px;
   background-color: #E5E7EB;
   font-family: Inter,sans-serif;
   font-size: 14px;
   text-align: center;
   color:#4B5563;
}

.experience-discription {
   width: 1,216px;
   height: 28px;
} 

.experience-text {
   font-family: Inter,sans-serif;
   text-align: center;
   color: #4B5563;
}

.experience-row1 {
   flex-grow: 1;   
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 12px;
   background-color: white;
   box-shadow: 0px 2px 2px 0px #0000000F;
   box-shadow: 0px 4px 3px 0px #00000012;
   gap:32px;
}

.experience-row1-left {
   flex-grow: 1;
   margin: auto;
   margin-top: 50px;
}
 
.experience-row1-middle-header{
   font-family: Inter,sans-serif;  
   text-align: left;
   color:#111827;
   margin-top: 50px;
} 

.experience-row1-middle {
   justify-content: center;
   align-items: center;
   padding: 32px;
   border-radius: 12px;
   gap:32px;
   margin-top: -40px;
} 

.experience-row1-right {
   margin: 50px;
   margin-top: -48px;
}


.experience-row2 {
   flex-grow: 1;   
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 12px;
   background-color: white;
   box-shadow: 0px 2px 2px 0px #0000000F;
   box-shadow: 0px 4px 3px 0px #00000012;
   gap:32px;
}

.experience-row2-left {
   flex-grow: 1;
   margin: auto;
   margin-top: 50px;
}
 
.experience-row2-middle-header{
   font-family: Inter,sans-serif;  
   text-align: left;
   color:#111827;
   margin-top: 50px;
} 

.experience-row2-middle {
   justify-content: center;
   align-items: center;
   padding: 32px;
   border-radius: 12px;
   gap:32px;
   margin-top: -40px;
} 

.experience-row2-right {
   margin: 50px;
   margin-top: -48px;
}



.experience-row3 {
   flex-grow: 1;   
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 12px;
    background-color: white; 
   gap:32px;
}

.experience-row3-left {
   flex-grow: 1;
   margin: auto;
   margin-top: 50px;
   margin-left: 200px;
}
 
.experience-row3-middle-header{
   font-family: Inter,sans-serif;  
   text-align: left;
   color:#111827;
   margin-top: 50px;
} 

.experience-row3-middle {
   justify-content: center;
   align-items: center;
   padding: 32px;
   border-radius: 12px;
   gap:32px;
   margin-top: -40px;
} 

.experience-row3-right {
   margin: 50px;
   margin-top: -20px;
   margin-right: -40px;
}


.work{
   padding: 96px 80px;
}
.work-container{
   padding:0 32px;
   display:flex;
   justify-content: center;
   align-items: center;  
   flex-direction: column;
   gap:48px;
}

.work-row1 {
   flex-grow: 1;
   gap:16px;
}

.work-head {
   display: flex;
   justify-content: center;
   align-items: center;
}

.work-head-content{

   padding: 4px 20px;
   border-radius: 12px;
   background-color: #E5E7EB;
   font-family: Inter,sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   text-align: center;
   color:#4B5563;
}
.work-head-description{
   font-family: Inter,sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 28px;
   text-align: center;
   color: #4B5563;
}
.work-row2{
   /* border: 1px solid blue; */
   flex-grow: 1;
   width: 1,152px;
   height: 480px;
   border-radius: 12px;
   box-shadow: 0px 2px 2px 0px #0000000F;
   box-shadow: 0px 4px 3px 0px #00000012;
   display: flex;
   flex-direction:row ;

}
.work-row2-left{
padding: 48px;
border-radius: 12px 0px 0px 12px;
border: 0px 1px 0px 0px;
background-color:  #F9FAFB;
border-right: 1px solid var(--Gray-100, #F3F4F6)
}
.work-row2-left-svg{
border-radius: 12px;
box-shadow: 0px 10px 8px 0px #0000000A;
box-shadow: 0px 4px 3px 0px #0000001A;

}
.work-row2-right{
   width: 576px;
height: 480px;
padding: 48px;
gap: 24px;
border-radius: 12px 0px 0px 12px;


}
.work-row2-right-head{
   font-family: Inter,sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 28px;
   text-align: left;
   color: #111827;
}
.work-row2-right-content{
   font-family: Inter,sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
   color: #4B5563;
}
.work-row2-right-content-links{
   display: flex;
   flex-wrap: wrap;
   gap:8px;
}
.work-row2-right-content-links p{
  padding: 4px 20px;
  border-radius: 12px;
  background-color: #E5E7EB;
  font-family: Inter,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; 
  text-align: center;
  color: #4B5563;
}
.work-row3{
   flex-grow: 2;
   width: 1,152px;
   height: 480px;
   border-radius: 12px;
   box-shadow: 0px 2px 2px 0px #0000000F;
   box-shadow: 0px 4px 3px 0px #00000012;
   display: flex;
   flex-direction:row ;

}
.work-row3-left-head{
  font-family: Inter,sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #111827;
}
.work-row3-left-content{
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #4B5563;
}
.work-row3-right{
   padding: 48px ;
   border-radius: 0px 12px 12px 0px;
   border: 0px 0px 0px 1px;
   background-color:  #F9FAFB;
   border-left: 1px solid var(--Gray-100, #F3F4F6);

}
.work-row3-right-svg{
   border-radius: 12px;
   box-shadow: 0px 10px 8px 0px #0000000A;
   box-shadow: 0px 4px 3px 0px #0000001A;
}
.work-row3-left{
   width: 50%;
   padding: 48px;  
   gap: 24px;
   border-radius: 12px 0px 0px 12px;
}
.work-row3-left-content-links{
   display: flex;
   flex-wrap: wrap;
   gap:8px;
}
.work-row3-left-content-links p{
  padding: 4px 20px;
  border-radius: 12px;
  background-color: #E5E7EB;
  font-family: Inter,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; 
  text-align: center;
  color: #4B5563;
}
.work-row4{
   flex-grow: 3;
   width: 1,152px;
   height: 480px;
   border-radius: 12px;
   box-shadow: 0px 2px 2px 0px #0000000F;
   box-shadow: 0px 4px 3px 0px #00000012;
   display: flex;
   flex-direction:row ;

}
.work-row4-left{
  padding: 48px;
  border-radius: 12px 0px 0px 12px;
  border: 0px 1px 0px 0px;
  background-color:  #F9FAFB;
  border-right: 1px solid var(--Gray-100, #F3F4F6)
}
.work-row4-left-svg{
  border-radius: 12px;
  box-shadow: 0px 10px 8px 0px #0000000A;
  box-shadow: 0px 4px 3px 0px #0000001A;

}
.work-row4-right{
  width: 576px;
  height: 480px;
  padding: 48px;
  gap: 24px;
  border-radius: 12px 0px 0px 12px;


}
.work-row4-right-content-links{
   display: flex;
   flex-wrap: wrap;
   gap:8px;
}
.work-row4-right-content-links p{
  padding: 4px 20px;
  border-radius: 12px;
  background-color: #E5E7EB;
  font-family: Inter,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; 
  text-align: center;
  color: #4B5563;
}
.work-row4-right-head{
   font-family: Inter,sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 28px;
   text-align: left;
   color: #111827;
}
.work-row4-right-content{
   font-family: Inter,sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
   color: #4B5563;
}
.testimonials{

  padding: 96px 80px;  
  background-color:#F9FAFB;
  
}
.testimonials-container{ 
   padding:0 32px;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   gap:48px;
}

.testimonials-head{
   display: flex;
   justify-content: center;
   align-items: center;
}
.testimonials-head-content{
  
   padding: 4px 20px;
   border-radius: 12px;
   background-color: #E5E7EB;
   font-family: Inter,sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   text-align: center;
   color:#4B5563;
}
.testimonials-head-description{
   font-family: Inter,sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 28px;
   text-align: center;
   color: #4B5563;
}

.testimonials-row2{
  display: flex;
  flex-direction: row;
  gap: 48px;
  border-radius: 12px;

 
}
.testimonials-row2 p{
 font-family: Inter,sans-serif; 
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 text-align: left;
 color:#4B5563;
}

.testimonials-row2-left{

   width: Fill (373.33px)px;
   height: Fill (428px)px;
   padding: 48px;
   gap: 24px;
   border-radius: 12px;
   border: 0px 1px 0px 0px;  
   box-shadow: 0px 2px 2px 0px #0000000F;
   box-shadow: 0px 4px 3px 0px #00000012;
   flex-grow: 2;
   text-align: center;
}
.testimonials-face{
   width: Fixed (64px)px;
   height: Fixed (64px)px;
   border-radius: 64px;
   text-align: center;
   
}
.testimonials-row2-middle{
  width: Fill (373.33px)px;
  height: Fill (428px)px;
  padding: 48px;
  gap: 24px;
  border-radius: 12px;
  border: 0px 1px 0px 0px;  
  box-shadow: 0px 2px 2px 0px #0000000F;
  box-shadow: 0px 4px 3px 0px #00000012;
  flex-grow: 2;
  text-align: center;
}

.testimonials-row2-right{
   width: Fill (373.33px)px;
   height: Fill (428px)px;
   padding: 48px;
   gap: 24px;
   border-radius: 12px;
   border: 0px 1px 0px 0px;  
   box-shadow: 0px 2px 2px 0px #0000000F;
   box-shadow: 0px 4px 3px 0px #00000012;
   flex-grow: 4; 
   text-align: center;
   
}

.contact-me{
  padding: 96px 80px;  
  background-color:#F9FAFB;
  
}
.contact-me-container{
   padding:0 32px;
   display:flex;
   justify-content: center;
   align-items: center;  
   flex-direction: column;
   gap:48px;
  
}

.contact-me-head{
   display: flex;
   justify-content: center;
   align-items: center;
}
.contact-me-head-content{
   padding: 4px 20px;
   border-radius: 12px;
   background-color: #E5E7EB;
   font-family: Inter,sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   text-align: center;
   color:#4B5563;
}
.contact-me-head-description{
   font-family: Inter,sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 28px;
   text-align: center;
   color: #4B5563;
}
.contact-me-email{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;

}
.contact-me-email-icon{
   flex-grow: 1;
}
.contact-me-email-content{
   flex-grow: 2;
   margin-left: 10px;
   margin-right: 10px;
}
.contact-me-email-copy-icon{
   flex-grow: 3;
}
.contact-me-phone{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}
.contact-me-phone-icon{
   flex-grow: 1;
}
.contact-me-phone-content{
   flex-grow: 2;
   margin-left: 10px;
   margin-right: 10px;
}
.contact-me-phone-copy-icon{
   flex-grow: 3;
}
.contact-me-row3-social-text{
   font-family: Inter,sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: center;
   color: #4B5563;

}
.contact-me-row3-social-link{
   display: flex;
   justify-content: center;
   align-items:center;
}

footer{
   display: flex;
   justify-content: center;
   align-items: center;
   width: Fill (1,440px)px;
   height: Hug (68px)px;
   padding: 24px 80px;
   background-color:  #F9FAFB;
   /* border: 1px solid blue; */
}
.ceo-svg{
   width: 16px;
   height: 16px;
}
footer p{
  font-family: Inter,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;  
  color:#4B5563;
}
footer a{
   color:#4B5563;
   cursor: pointer;
}


@media (max-width: 800px) {

 }
 
